:root {
    --general-color: #422AA1;
    --accent-text: #020202;
    --general-text: #fff9f4;
    --general-fonts: "Arimo", "Arial", sans-serif;
    --accent-fonts: "Oswald", "Arial", sans-serif;

    --transition: all .4s;
    --border-radius: 20px;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

.body {
    background: url(../img/pink-bg.jpg) center/cover;
    font-family: var(--general-fonts);
    line-height: 1.5;
    color: var(--general-text);
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #00000069;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.btn {
    font-family: var(--accent-fonts);
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 30px;
    padding: 18px;
    color: var(--general-text);
    background: var(--general-color);

}


/* ////////////////// */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, .7);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;

    transition: var(--transition);
}

.modal.open {
    visibility: visible;
    opacity: 1;
}

.modal__window {
    background: var(--general-color);
    max-width: 800px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 60px;
    margin: 30px 15px;
    z-index: 1;
    box-shadow: 0px 4px 67px 23px rgba(12, 13, 13, 0.4);
    transform: scale(0);
    position: relative;
}

.modal.open .modal__window {
    transform: scale(1);
}

.modal__cancel {
    position: absolute;
    top: 60px;
    right: 85px;
    cursor: pointer;
}

.modal__cancel path {
    transform: var(--transition);
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
    stroke: #4f4e50;
}

.modal__title {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.modal__text {
    white-space: pre-line;
    text-align: start;
    max-width: 600px;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 20px;
}

.modal__text span {
    font-weight: 600;
    display: block;
    text-align: center;
    padding-top: 15px;
}

.modal-btn {
    background: var(--general-text);
    color: var(--general-color);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1024px) {
    .modal__window {
        padding: 30px 40px;
        border-radius: 60px;
        max-width: 700px;
    }

    .modal__cancel {
        top: 40px;
        right: 50px;
    }

    .modal__text {
        max-width: 500px;
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .modal__window {
        padding: 25px 25px;
        border-radius: 40px;
        max-width: 90%;
        margin: 20px;
    }

    .modal__cancel {
        top: 20px;
        right: 25px;
    }

    .modal__title {
        font-size: 20px;
    }

    .modal__text {
        font-size: 14px;
        max-width: 100%;
    }
}

@media (max-width: 480px) {

    .modal__cancel {
        top: 20px;
        right: 20px;
        transform: scale(0.85);
        z-index: 100;
    }

    .modal__text {
        max-width: 100%;
        font-size: 14px;
    }

    .modal__title {
        font-size: 18px;
        margin-bottom: 15px;
    }
}

