.game__search {
    padding: 30px 70px;
    background: linear-gradient(to top,
            rgb(0, 0, 0) 0%,
            rgba(0, 0, 0, 0.884) 20%,
            rgba(0, 0, 0, 0.76) 40%,
            rgba(0, 0, 0, 0.596) 60%,
            rgba(0, 0, 0, 0.308) 80%,
            rgba(0, 0, 0, 0) 100%);
}

.game__ui {
    max-width: 1200px;
    padding: 0 20px 25px;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
}

.ui__timer {
    font-size: 28px;
    font-weight: 800;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 1.5px;
}

.ui__score-puddle {
    font-size: 28px;
    font-weight: 800;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 1.5px;
}

.ui__score-object {
    font-size: 28px;
    font-weight: 800;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 1.5px;
}

.game__room-search {
    max-width: 1200px;
    aspect-ratio: 1200 / 800;
    background: url(../img/search/search-bg.png) no-repeat center/contain;
    position: relative;
    overflow: hidden;

    margin-left: auto;
    margin-right: auto;
    cursor: none;
}

.btn-prev-global {
    text-align: center;
}

.magnifier {
    position: fixed;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    pointer-events: none;
    border: 4px solid #fff;
    box-shadow: 0 0 20px #fff;
    backdrop-filter: contrast(1.3) brightness(1.05);
    z-index: 9999;
    display: none;
}

.object img,
.puddle img {
    opacity: 1;
    transition: opacity 0.2s ease;
    width: 100%;
    height: auto;
}

.object,
.puddle {
    position: absolute;
}

#object-scratching {
    top: 82.8%;
    left: 4.2%;
    width: 8%;
}

#object-mint {
    top: 29.9%;
    left: 15.4%;
    width: 4.2%;
}

#object-mouse {
    top: 40.6%;
    left: 70.8%;
    width: 4.3%;
}

#object-ball {
    top: 33.7%;
    left: 64.2%;
    width: 4.1%;
}

#puddle-1 {
    top: 59.8%;
    left: 17.9%;
    width: 3.3%;
}

#puddle-2 {
    top: 62.8%;
    left: 78.5%;
    width: 3.3%;
}

#puddle-3 {
    top: 85%;
    left: 27.8%;
    width: 3.3%;
}

@keyframes glowPop {
    0% {
        transform: scale(1);
        filter: drop-shadow(0 0 0px #fff4);
    }

    40% {
        transform: scale(1.2);
        filter: drop-shadow(0 0 10px #fff8);
    }

    100% {
        transform: scale(0.9);
        filter: drop-shadow(0 0 0px #fff0);
        opacity: 0;
    }
}

.found-anim {
    animation: glowPop 0.4s ease forwards;
}



.end-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.85);
    color: #fff;
    padding: 30px 50px;
    font-size: 42px;
    font-weight: 900;
    border-radius: 25px;
    z-index: 999999;
    text-align: center;
    animation: pop-in 0.4s ease;
}

@keyframes pop-in {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}


/* ================================ */

/* ---------- До 1200px ---------- */
@media (max-width: 1200px) {
    .game__search {
        padding: 20px 40px;
    }

    .game__ui {
        padding-bottom: 15px;
        gap: 8px;
    }

    .ui__timer,
    .ui__score-object,
    .ui__score-puddle {
        font-size: 24px;
    }
        .end-message {
        font-size: 26px;
        padding: 22px 25px;
    }
}


/* ---------- До 900px (планшеты) ---------- */
@media (max-width: 900px) {
    .game__search {
        padding: 15px 25px;
    }

    .game__ui {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .ui__timer,
    .ui__score-object,
    .ui__score-puddle {
        font-size: 20px;
    }

    .game__room-search {
        width: 100%;
        cursor: none;
    }
        .end-message {
        font-size: 21px;
        padding: 20px 30px;
    }
    .magnifier {
        width: 80px;
        height: 80px;
        border-width: 3px;
    }
}


/* ---------- До 600px (телефоны) ---------- */
@media (max-width: 600px) {

    .game__search {
        padding: 12px 15px;
    }

    .ui__timer,
    .ui__score-object,
    .ui__score-puddle {
        font-size: 17px;
    }

    .magnifier {
        width: 65px;
        height: 65px;
        border-width: 3px;
    }

    .found-anim {
        animation-duration: 0.35s;
    }

    .end-message {
        font-size: 18px;
        padding: 18px 25px;
    }
}


@media (max-width: 430px) {

    .game__search {
        padding: 10px;
    }

    .ui__timer,
    .ui__score-object,
    .ui__score-puddle {
        font-size: 15px;
    }

    .magnifier {
        width: 50px;
        height: 50px;
        border-width: 2px;
    }
    .end-message {
        font-size: 14px;
        padding: 12px 20px;
    }
}